[submodule "openembedded-core"]
	path = openembedded-core
	url = https://github.com/openembedded/openembedded-core.git
[submodule "meta-openembedded"]
	path = meta-openembedded
	url = https://github.com/openembedded/meta-openembedded.git
[submodule "meta-virtualization"]
	path = meta-virtualization
	url = https://git.yoctoproject.org/meta-virtualization
[submodule "meta-greenbone"]
	path = meta-greenbone
	url = https://github.com/Dexus/meta-greenbone.git
